.button {
  padding: 0.4em;
  width: 8rem;
  background-color: rgb(168, 86, 245);
  border: none;
  border-radius: 5px;
  margin-top: 1em;
  box-shadow: 0 0.3rem 0.6em rgba(black, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;

  text-decoration: none;
  color: white;
  text-transform: capitalize;

  &:hover {
    background-color: rgb(169, 133, 202);
    box-shadow: 0 0.1rem 0.2em rgba(black, 0.2);
  }
}
